<!-- Time and Date -->
<div class="grid-container">
    <div class="grid-x">
        <div class="small-11 cell">
            <h1 class="datetime--time">
                <span class="datetime--time-hours"></span>:<span class="datetime--time-minutes"></span>
            </h1>
        </div>
        <div class="small-1 cell">
            <span class="datetime--time-period">XX</span>
        </div>
    </div>
</div>
<div class="grid-container">
    <div class="grid-x">
        <div class="cell">
            <span class="datetime--date">Monday, January 1</span>
        </div>
    </div>
</div>